.modal-overlay {
	position: fixed;
	z-index: 100;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
}
.modal-window {
	position: absolute;
	z-index: 101;
	top: 50%;
	left: 50%;
	width: 100%;
	max-width: 600px;
	margin-right: auto;
	margin-left: auto;
	padding: 20px;
	transition: transform 0.5s;
	transform: translate(-50%, -50%) scale(0);
	transform-origin: 50% 50%;
	border-radius: 10px;
	background-color: #fff;
	box-shadow: 0 0 10px 5px #999;
}
.modal-window__inner {
	position: relative;
}
.modal-window__close {
	position: absolute;
	top: -10px;
	right: -10px;
	display: block;
	width: 25px;
	height: 25px;
	cursor: pointer;
	border: 0;
	outline: 0;
	background-color: transparent;
}
.modal-window__close:focus {
	outline: 0;
}
.modal-window__close svg {
	width: 25px;
	height: 25px;
	transition: 0.3s;
	transition-property: transform, fill;
}
.modal-window__close svg:hover {
	transform: rotate(360deg);
	
	fill: red;
}
.modal-window.visible {
	transform: translate(-50%, -50%) scale(1);
}
.modal-overlay.visible {
	opacity: 1;
}
.ui.form label {
	text-align: left;
}
