
.weather-box {
	position: relative;
}
.header .weather-box__inner {
	min-height: auto;
}
.weather-box__inner {
	display: flex;
	min-height: 150px;
	margin-top: 1rem;
	margin-bottom: 1rem;
	
	align-items: center;
}
.weather-box__item {
	flex: 1;
	height: 100%;
	padding: 0 1rem;
	text-align: center;
}
svg {
	width: 100%;
	height: 98px;
}
.weather-box__title {
	flex: 1;
	margin-top: 0;
	margin-bottom: 0;
	padding: 1rem 0;
	text-align: center;
}
.weather-widget .list-group-item {
	padding: 0;
}
.weather-widget .list-group-item span {
	display: inline-block;
	padding: 8px 16px;
	vertical-align: middle;
}
.weather-widget .list-group-item span:first-child {
	width: 100%;
	max-width: 100px;
	border-right: 1px solid rgba(0, 0, 0, 0.125);
}
.weather-widget__map div {
	width: 100%;
	height: 150px;
}
.weather-widget__temperature h3 {
	font-family: 'Oswald', sans-serif;
	font-size: 30px;
}
.weather-widget__temperature img {
	margin-right: 10px;
}

.weather-info__col--padding svg {
	padding-left: 20px;
}
