.city-header__inner {
	display: flex;
	margin-top: 1rem;
	margin-bottom: 1rem;
}
.city-header__item {
	height: 100%;
	padding: 0 1rem;
}
.city-header__title {
	margin-top: 0;
	margin-bottom: 0;
	padding: 1rem 0;
}
.ui.cards > .card {
	display: flex;
	flex-direction: row;
	margin-top: 0;
	margin-bottom: 10px;
	padding-top: 8px;
	padding-bottom: 8px;
	
	align-items: center;
}
.ui.cards > .card .header,
.ui.cards > .card .meta,
.ui.cards > .card .description{
	margin-bottom: 0;
	text-align: left;
	
	flex-basis: 25%;
}
.ui.cards > .card .description:last-of-type {
	text-align: right;
	
	flex-grow: 1;
}
.ui.cards > .card > div {
	padding-right: 15px;
	padding-left: 15px;
}
.ui.card:after {
	content: none;
}

.city-header__title {
	flex-basis: 25%;
}

